{% extends 'shopy/basic.html' %}
{% block title %} Shopy Tracker{% endblock %}


{% block body %}

<div class="container">
	<div class="col my-4">
	<h4>Enter your Order id and Email address to Track your Order</h4>
	<form method="post" action="#" id="trackerForm"> {% csrf_token %}
		<div class="col-md-6">
    		<label for="orderId" class="form-label">Order Id</label>
    		<input type="text" class="form-control" id="orderId" name="orderId" placeholder="Name">
  		</div>
  		<div class="col-md-6">
    		<label for="email" class="form-label">Email</label>
    		<input type="email" class="form-control" id="email" name="email" placeholder="Email">
  		</div>
  		<div class="col-12 mt-2">
    		<button type="submit" class="btn btn-primary">Track Order</button>
  		</div>
	</form>
	<div class="col my-2">
		<h4>Your Order Status</h4>
	</div>
	<div>
		<ul class="list-group" id="items">
			Enter your order id and Email and Click Track Order to find details about your order!
  		</ul>
	</div>
	<div class="col my-6">
		<h4>Your Order Details </h4>
		<ul class="list-group" id="citems">
		</ul>
	</div>
</div>

{% endblock %}

{% block js %}
<script>
$('#trackerForm').submit(function(event) {
    $('#items').empty();
    var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };
    $.ajax({
            type: 'POST',
            url: '/shopy/tracker/',
            data: formData,
            encode: true
        })
        .done(function(data) {
            $('#citems').empty();
            console.log(data)
            data = JSON.parse(data);
            if (data['status'] == 'success') {
                updates = data['updates'];
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
                    $('#items').append(mystr);
                }
                // Fill in the order details
                cart = JSON.parse(data['itemsJson']);
                console.log(cart);
                for (item in cart) {
                    let name = cart[item][1];
                    let qty = cart[item][0];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
                    $('#citems').append(mystr);
                }
            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
                $('#items').append(mystr);
                $('#citems').append(mystr);
            }
        });
    event.preventDefault();
});
</script>
{% endblock %}
