{% extends 'blogg/basic.html' %}



{% block body %}
  <div class="container my-3">

    <div class="row mt-4">
    {% for item in myposts %}

    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 mr-1 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{item.title}}</strong>
           <h3 class="mb-0">{{item.head1}}</h3>
            <div class="mb-1 text-muted">{{item.Pub_Date}}</div>
            <p class="card-text mb-auto">{{item.head2}}</p>
            <a href="bloggPost/{{item.Post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src='/media/{{item.thumbnail}}' width="200" height="250" class="bd-placeholder-img" alt="...">
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row mt-4">
    {% endif %}

    {% endfor %}
    </div>
    </div>
  </div>
{% endblock %}